# Compilados
bin/
out/
sources.txt

# JavaFX SDK local
javafx-sdk*/

# Configuracion local BD
src/db.properties
src/application/db.properties
bin/db.properties

# Archivos extraños
ADMINISTRADOR
TRADICIONAL

# ZIP
*.zip

bin/
out/
*.zip
lib/
sources.txt
datos_mundial*.sql
.vscode/

bin/
out/
*.zip
lib/
sources.txt
datos_mundial*.sql
.vscode/
